body {
  text-align: center;
  background-color: #3C6255;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:5%;
  color:black;
}

/* .container {
  display: block;
  width: 50%;
  margin: auto;

} */
.center{
  text-align: center;
  color: palegoldenrod;
  font-size: 3rem;
  font-family: 'Press Start 2P', cursive;
  margin: 20px;
  text-transform:capitalize;
}
p{
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 7px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: teal;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
