body {
  text-align: center;
  background-color: #86E5FF;
}

#level-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  margin:  5%;
  color:white;
}

/* .container {
  display: block;
  width: 50%;
  margin: auto;

} */

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 7px solid whitesmoke;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: teal;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
